{% extends 'base.html' %}

{% block title %}Create User Profile{% endblock %}

{% block content %}

    
  <h2>Create User Profile</h2>
  <form action="/submit-profile" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required />
    
    <label for="age">Age</label>
    <input type="number" id="age" name="age" required />
    
    <label for="sex">Sex</label>
    <input type="text" id="sex" name="sex" required />
    
    <input type="submit" value="Create Profile" />
  </form>

  {% endblock %}