{% extends 'base.html' %}

{% block title %}Create User Profile{% endblock %}

{% block content %}
<style>
/* Style the form */
      form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input[type="text"] {
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      }

      input[type="submit"] {
        background-color: #3f51b5;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }

      input[type="submit"]:hover {
        background-color: #2c3e50;
      }
    </style>
    
  <h2>Edit User Profile</h2>
  <form action="/update-profile" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required />
    
    <h3>Change your name, age, or sex</h3>
    <label for="new username">New Username</label>
    <input type="text" id="new username" name="new username" />
    
    <label for="age">Age</label>
    <input type="number" id="age" name="age" />

    <label for="sex">Sex</label>
    <input type="radio" id="male" name="sex" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="sex" value="female">
    <label for="female">Female</label><br>

    <h3>Add a drug, indication, or a product</h3>
    <label for="drug name">Drug Name</label>
    <input type="text" id="drug name" name="drug name" />
    <label for="indication name">Indication Name</label>
    <input type="text" id="indication name" name="indication name" />
    <label for="Prodcut name">Product Name</label>
    <input type="text" id="product name" name="product name name" />
    
    <input type="submit" value="Save Profile" />
    <p>  </p>
  </form>

  {% endblock %}