{% extends 'base.html' %}

{% block title %}Drug Database Homepage{% endblock %}

{% block content %}
  <h2>Welcome to the Drug Database</h2>
  <p>
    This is the drug database homepage. Use this page to navigate to various functionalities that this database offers. You can also bookmark this page.
  </p>
	
	<img src="https://images.unsplash.com/photo-1524683745036-b46f52b8505a?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=715&amp;q=80" alt="Medicine Machine" width="400" height="500">
	<img src="https://images.unsplash.com/photo-1576091160399-112ba8d25d1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Medicine Man" width="700" height="500">
	<img src="https://images.unsplash.com/photo-1522335579687-9c718c5184d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" alt="Medicine Manager" width="500" height="500">
  
{% endblock %}