{% extends 'base.html' %}

{% block title %}Create User Profile{% endblock %}

{% block content %}
<style>
/* Style the form */
      form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input[type="text"] {
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      }

      input[type="submit"] {
        background-color: #3f51b5;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }

      input[type="submit"]:hover {
        background-color: #2c3e50;
      }
    </style>
    
  <h2>Insert New Drug</h2>
  <form action="/submit-profile" method="post">
    <label for="drug name">Drug Name</label>
    <input type="text" id="drug name" name="drug name" required />
    
    <label for="description">Basic Description</label>
    <input type="text" id="description" name="description" />
    
    <label for="toxicity">Toxicity</label>
    <input type="text" id="toxicity" name="toxicity">

    <label for="indications">Indications</label>
    <input type="text" id="indications" name="indications">
    
    <label for="food interactions">Food Interactions</label>
    <input type="text" id="food interactions" name="food interactions">

    <input type="submit" value="Insert New Drug" />
    <p>  </p>
  </form>

  <h2>Insert New Product</h2>
  <form action="/submit-profile" method="post">
    <label for="drug name">Product ID</label>
    <input type="text" id="drug name" name="drug name" required />
    
    <label for="description">Basic Description</label>
    <input type="text" id="description" name="description" />
    
    <label for="toxicity">Toxicity</label>
    <input type="text" id="toxicity" name="toxicity">

    <label for="indications">Indications</label>
    <input type="text" id="indications" name="indications">
    
    <label for="food interactions">Food Interactions</label>
    <input type="text" id="food interactions" name="food interactions">

    <input type="submit" value="Insert New Drug" />
    <p>  </p>
  </form>

  P_ID INTEGER PRIMARY KEY,
  P_Name TEXT,
  Form TEXT,
  Strength TEXT,
  Route TEXT,
  Manufacturer TEXT,
  Marketing_start DATE,
  Marketing_end DATE,
  Generic TEXT,
  OTC TEXT,
  D_NAME TEXT NOT NULL,

  {% endblock %}
 
        