{% extends 'base.html' %}

{% block title %}Create User Profile{% endblock %}

{% block content %}
    <title>Drug Interactions Graph</title>
    <style>
      /* Style the form */
      form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input[type="text"] {
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      }

      input[type="submit"] {
        background-color: #3f51b5;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }

      input[type="submit"]:hover {
        background-color: #2c3e50;
      }
    table {
        border-collapse: collapse;
        justify-content: center;
        width: 75%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: lightgray;
    }
    </style>
  <body>
    <main>
      <h1>See How Up To 10 Drugs Interact</h1>
      <p>At least two drugs are required to create a graph.</p>
      <form action="/drug-result" method="post">
        <label for="Drug 1 Name">Drug 1 Name:</label>
        <input type="text" id="Drug 1 Name" name="Drug 1 Name" required />
  
        <label for="Drug 2 Name">Drug 2 Name:</label>
        <input type="text" id="Drug 2 Name" name="Drug 2 Name" required />
  
        <label for="Drug 3 Name">Drug 3 Name:</label>
        <input type="text" id="Drug 3 Name" name="Drug 3 Name"/>

        <label for="Drug 4 Name">Drug 4 Name:</label>
        <input type="text" id="Drug 4 Name" name="Drug 4 Name"/>

        <label for="Drug 5 Name">Drug 5 Name:</label>
        <input type="text" id="Drug 5 Name" name="Drug 5 Name"/>

        <label for="Drug 6 Name">Drug 6 Name:</label>
        <input type="text" id="Drug 6 Name" name="Drug 6 Name"/>

        <label for="Drug 7 Name">Drug 7 Name:</label>
        <input type="text" id="Drug 7 Name" name="Drug 7 Name"/>

        <label for="Drug 8 Name">Drug 8 Name:</label>
        <input type="text" id="Drug 8 Name" name="Drug 8 Name"/>

        <label for="Drug 9 Name">Drug 9 Name:</label>
        <input type="text" id="Drug 9 Name" name="Drug 9 Name"/>

        <label for="Drug 10 Name">Drug 10 Name:</label>
        <input type="text" id="Drug 10 Name" name="Drug 10 Name"/>
        <input type="submit" value="Create Graph" />
      </form>

      <h1>Drug Interactions Graph</h1>  
        <p>Add graph stuff here</p>    
        
     </body>
    </main>
    {% endblock %}
