{% extends 'base.html' %}

{% block title %}Graph Results{% endblock %}

{% block content %}
<style>
table {
    border-collapse: collapse;
    justify-content: center;
    width: 75%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: lightgray;
}
</style>

<!DOCTYPE html>
<html>
<head>
    <title>My Plotly Graph</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>My Plotly Graph</h1>
    <div id="my-graph"></div>
    <script>
        var graph_html = '{{ graph_html|safe }}';
        var graph_div = document.getElementById('my-graph');
        graph_div.innerHTML = graph_html;
    </script>
</body>
</html>


<h2>Interaction Descriptions</h2>      
      <body>
        <table>
            <tr>
                <th>Drug 1 Name:</th>
                <th>Drug 2 Name:</th>
                <th>Interaction Description:</th>
            </tr>
            <tr>
                {% for i in range(numInteractions) %}
                <td>{{ interactions[i][0] }}</td>
                <td>{{ interactions[i][1] }}</td>
                <td>{{ interactions[i][2] }}</td>
                {% endfor %}
            </tr>
        </table>
        <p> </p>
    </body>
{% endblock %}