{% extends 'base.html' %}

{% block title %}View User Profiles{% endblock %}

{% block content %}


<main>
    <h2>View User Profiles</h2>
    <style>
        /* Styles for user information */
        .user-info {
            border: 1px solid black;
            padding: 8px;
            margin: 10px 0;
            background-color: lightgray;
        }
        .user-info label {
            font-weight: bold;
        }
        .user-info span {
            margin-left: 10px;
        }
    </style>
    <p>There are currently {{ numUser }} users</p>
    {% for i in range(numUser) %}
        <div class="user-info">
            <label>Name:</label>
            <span>{{ users[i][0] }}</span>
            <br>
            <label>Age:</label>
            <span>{{ users[i][1] }}</span>
            <br>
            <label>Sex:</label>
            <span>{{ users[i][2] }}</span>
            <br>
            <label>Drugs:</label>
            {% if users[i][3] is not none %}
                {% for drug in users[i][3] %}
                    <span>{{ drug }}</span>
                {% endfor %}
            {% else %}
                <span>No drugs found</span>
            {% endif %}
            <br>
            <label>Indications:</label>
            {% if users[i][4] is not none %}
                {% for indication in users[i][4] %}
                    <span>{{ indication }}</span>
                {% endfor %}
            {% else %}
                <span>No indications found</span>
            {% endif %}
            <br>
        </div>
    {% endfor %}
</main>    
{% endblock %} 